<!DOCTYPE html>
<html>
  <head>
    <title>Article</title>
  </head>
  <body>
    <h1>{{title}}</h1>
    <p>id = {{id}}</p>
    <p>year = {{year}}</p>
    <p>venue = {{venue}}</p>

    <h2>Authors</h2>
    {% for author in authors %}
      <p>{{author[0]}}</p>
    {% end %}

    <h2>References to:</h2>
    {% for to_id in tos %}
      <p><a href="/article/?id={{to_id[0]}}" >{{to_id[0]}}, {{to_id[1]}}</a></p>
    {% end %}

    <h2>References from:</h2>
    {% for from_id in froms %}
      <p><a href="/article/?id={{from_id[0]}}" >{{from_id[0]}}, {{from_id[1]}}</a></p>
    {% end %}

    <h2>Keywords:</h2>
    {% for keyword in keywords %}
      <p>{{keyword[0]}}</p>
    {% end %}

    </body>
</html>
