<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ static_url("style.css") }}">
    {% block head %}{% end %}
  </head>
  <body>
    <header>
      <div id="layer">
  			<h1>DMD project Phase#2.</h1>
  			<a href="/search/">Search</a>
  			<a href="/addarticle/">Add Article</a>
  			<div id="logoutlayer">
				<a href="/auth/logout/">Log Out</a>
			</div>
  	  </div>
    </header>

      {% block body %}{% end %}

    <footer>
		<div id="bottomlayer">
			Created by Chernyshov Alexey, Kravchenko Vladislav and Magomedov Murad. 2015 Innopolis University
		</div>
    </footer>
  </body>
</html>
